<!DOCTYPE html>
<html lang="en">
  <head>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }

      .active {
        background-color: #646536;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body style="background-color:#b6d7b9;">

    <h1 style="color:white"> Daftar E-HAC </h1>
    {%if ehac %}
    {% for result in ehac %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Detail Perjalanan</h5>
          <p class="card-text">
              Nama lengkap: {{ result.nama }}<br>
              Kewarganegaraan: {{ result.kewarganegaraan }}<br>
              Jenis kelamin: {{ result.jenis_kelamin }}<br>
              TTL: {{ result.dob }}<br>
              NIK: {{ result.nik }}<br>
              Kota Asal:{{ result.kota_asal }}<br>
              Kota Tujuan:{{ result.kota_tujuan }}<br>
              Alamat: {{ result.alamat }}
              Tanggal berangkat: {{ result.tanggal_berangkat }}<br>
              Tanggal sampai:{{ result.tanggal_sampai }}<br>
              Kendaraan: {{ result.jenis_kendaraan }}<br>
              Keterangan: {{ result.keterangan }}<br>
              Pernyataan Kesehatan: {{ result.pernyataan_kesehatan }}<br>
            </p>
        </div>
      </div>

      {% endfor %}
    {% endif %}

  </body>
</html>
