<!-- {% load static %} -->
<nav>
  <link rel="stylesheet" href="{% static 'assets/navbar/style.css' %}">
  <div class="logo">
    <h2>VaksinYuk</h2>
  </div>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Product</a></li>
    <li><a href="#">Service</a></li>
    <li><a href="#">Galery</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="account">
    
    {% if name == '' %}
      <span id="login"><a href="{% url 'user_login' %}">Login</a></span>
      <span id="regis"><a href="{% url 'user_regis' %}">Register</a></span>
    {% else %}
      <span id='user'><a href="{% url 'user_profile' %}">Hi, {{name}}</a></span>
      <span id='logout'><a href="{% url 'user_logout' %}">Logout</a></span>

    {% endif %}
      
  </div>
  <script src="{% static 'jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/navbar/script.js' %}"></script>
</nav>