
body {
      display: flex;
      background-color: rgb(233, 233, 233);
      flex-direction: column;
}

.faskes h4{
      text-align: center;
      font-family: 'Times New Roman';
      font-size: 20px;
      color: rgb(14, 13, 13);
}
.faskes table {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      position: static;
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
}
.container-fluid h2 {
      text-shadow: 6px 6px 10px rgb(5, 107, 167);
      color: white; 
	text-shadow:0 1px 0 #ccc,
	            0 2px 0 #c9c9c9,
	            0 3px 0 #bbb,
	            0 6px 1px rgba(0,0,0,.1),
	            0 0 5px rgba(0,0,0,.1),
	            0 1px 3px rgba(0,0,0,.3),
	            0 3px 5px rgba(0,0,0,.2),
	            0 5px 10px rgba(0,0,0,.25),
	            0 10px 10px rgba(0,0,0,.2),
	            0 20px 20px rgba(0,0,0,.15);
}
.table-striped th{
      background-color:rgb(155, 175, 175)
}
footer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      background: #3586ff;
      min-height: 10px;
      padding: 5px;
      flex-direction: column;
      bottom: 0;
}
footer div.logo h2{
      text-shadow: 6px 6px 10px rgb(5, 107, 167);
      color: white; 
          text-shadow:0 1px 0 #ccc,
                      0 2px 0 #c9c9c9,
                      0 3px 0 #bbb,
                      0 6px 1px rgba(0,0,0,.1),
                      0 0 5px rgba(0,0,0,.1),
                      0 1px 3px rgba(0,0,0,.3),
                      0 3px 5px rgba(0,0,0,.2),
                      0 5px 10px rgba(0,0,0,.25),
                      0 10px 10px rgba(0,0,0,.2),
                      0 20px 20px rgba(0,0,0,.15);
}
