<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Hello</title>
</head>
<body>
    {% include 'assets/navbar.html' %}
    <h1>Hello World</h1>
    {% include 'assets/footer.html' %}
    
</body>
</html>