<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Hello</title>
</head>
<body>
    {% for u in dataDiri %}
    <h1>Anda telah terdaftar untuk tes SWAB PCR </h1>
    <h2>Lokasi :  {{ u.lokasi }} </h2>
    <h2>Waktu  :  {{ u.waktu }} </h2>
    {% endfor %}
</body>
</html>