{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'user_profile/style.css' %}">
  <title>Profile</title>
</head>
<body>
  {% include 'assets/navbar.html' %}
    <h2>Profile</h2>
    <div class="row">
      <div class="col">
        <p>{{ pengguna.email }}</p>
        <p>{{ pengguna.name }}</p>
        <p>{{ pengguna.no_hp }}</p>
        <p>{{ pengguna.usia }}</p>
        <p>{{ pengguna.nik }}</p>
        <p>{{ pengguna.domisili }}</p>
      </div>
    </div>
    <h2>Jadwal Vaksin</h2>
      <div class="row">
        <div class="col">
          <p>{{ pengguna.lokasi }}</p>
          <p>{{ pengguna.tanggal }}</p>
          <p>{{ pengguna.jenis }}</p>
        </div>
      </div>
      <a class="btn btn-primary" href="#" role="button">Edit Profile</a>
  <br><br><br>
  <script src="{% static 'jquery/jquery.js' %}"></script>
  <script src="{% static 'user_profile/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% include 'assets/footer.html' %}
</body>
</html>