{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'user_regis/style.css' %}">
  
  <title>Register</title>
</head>
<body>
  <!-- untuk mendapatkan data User-->
  <!-- Triknya biar tidak kelihatan di browser, properti css display dibuat jadi none -->
  <!-- {% for user in users %}
    <span class="emails">{{user.email}}</span>
    <span class="passwords">{{user.password}}</span>
  {% endfor %} -->
  <form action="" method="post">
    <div class="logo">
      <h1>VaksinYuk</h1>
    </div>
    <h2>Register</h2>
    <div class="icons">
      {% for form in forms %}
        <label class="icon" for='{{form.id_for_label}}'></label>
        <!-- <img class="icon" src="{% static icon %}" srcset=""> -->
      {% endfor %}
    </div>
    <h6 id="email_message">Email anda valid</h6>
    <h6 id="password_message">Maaf password tidak sesuai</h6>
    {% csrf_token %}
    {% for form in forms %}
      <label for='{{form.id_for_label}}' >{{form.label}} </label> 
      {{form}} 
    {% endfor %}
    <button type="submit"><span>Kirim</span></button>
    <h5>Jika anda sudah mempunyai akun, silahkan <a href="/user/login">login</a></h5>
  </form>
  <br><br><br>
  <script type="text/javascript">
    let json = JSON.parse("{{json|escapejs}}");
  </script>
  <script src="{% static 'jquery/jquery.js' %}"></script>
  <script src="{% static 'register/script.js' %}"></script>
</body>
</html>
