{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'user_login/style.css' %}">
  <title>Login</title>
</head>
<body>
  <!-- untuk mendapatkan data User-->
  <!-- Triknya biar tidak kelihatan di browser, properti css display dibuat jadi none -->
  <!-- {% for user in users %}
    <span class="emails">{{user.email}}</span>
    <span class="passwords">{{user.password}}</span>
  {% endfor %} -->
      
<form action="" method="post">
    <div class="logo">
      <h1>VaksinYuk</h1>
    </div>
  <h2>Login</h2>
  <div class="icons">
    <label class="icon" for="id_email">
    </label>
    <label class="icon" for="id_password">
    </label>
  </div>
    {% csrf_token %}
    <label for="id_email">Email</label>
    <input type="email" name="email" id="id_email" required placeholder="Masukkan email anda">
    <h6 id="email_message">Email anda valid</h6>
    <label for="id_password">Password</label>
    <input type="password" name="password" id="id_password" required placeholder="Masukkan password anda">
    <h6 id="password_message">Maaf password tidak sesuai</h6>
    <button type="submit"><span>Login</span></button>
    <h5>Jika anda belum mempunyai akun, silahkan <a href="/user/register">register</a></h5>
  </form>
  <script type="text/javascript">
    let json = JSON.parse("{{json|escapejs}}");
    // console.log(json)
  </script>
  <script src="{% static 'jquery/jquery.js' %}"></script>
  <script src="{% static 'user_login/script.js' %}"></script>
</body>
</html>